body {
  margin: 0;
  padding: 20px;
  overflow-x: hidden;
  background-color: transparent;
}
header {
  display: flex;
  flex-direction: column;
}
#nav_menu {
  display: flex;

}
.nave_menu>ul>li {
  flex-direction: row;
  text-decoration: none;
  list-style-type: none;
}
img {
  max-width: 250px;
  max-height: auto;
}
.row {
  min-width: 100%;
}
#card-container {
  border: 0px solid red;
  min-width: 49%;
  max-width: 49%;
  margin: auto;
}
.cat-card {
  /* flex-direction: row; */
}
#detail {
  min-width: 49%;
  max-width: 49%;
}
div {
  float: left;
}
