body {
	margin:0 auto;
	width:100%;
	background-color: #f7f7f7;
	font-family: helvetica;
}
#wrapper {
	width:80%;
	background-color: transparent;
	margin:50px auto;
	padding:20px;
	clear:both;
}

#main-left{
	margin:auto;
	background-color: ;
	border: 0px solid red;
	clear:both;
}
#box {
	width:80%;
	padding: 8px;

	background-color: transparent;
	border: 1px solid rgb(164, 183, 230);
	color:#525252;
	border-radius: 5px;
	font-size: 18px;
}
.success { color:#565656; }
#output { color: purple;	line-height: 22px; }

div {
	margin-bottom: 3px;
}
span{

}
div {
	margin-bottom: 3px;
}
#geo-button{
	margin-top: 12px;
	margin-left: 60px;
}

#leftbox {
	border: 3px solid #ddd;
	width:250px;
	height:280px;
	float:left;
	margin:5px;
	padding:10px;
}
#rightbox {
	border: 3px solid green;
	width:250px;
	height:280px;
	float:left;
	margin:5px;
	padding: 10px;
}

