/* Styles for iterate.html - 16 Stepster */

body {background-color: rgba(93, 166, 163, 0.94);}
.page {
	width: 78.36990595611285%; /* 1000 / 1276 */
	margin:auto;
	overflow: hidden;
	border: 0px solid red;
	margin-top: 50px;
}
h2 {
	font-family: arial;
	text-align: center;
	padding-top: 78px;
	color:rgb(29, 81, 57);
	text-transform: uppercase;
}

#boxes {
	/* width: 96.19238476953907%;  960 / 998 */
	border: 0px solid blue;
	overflow: hidden;
	margin: 100px auto;
}

.test, .selected {
	width:  5.85495%; /* experimental responsive width for pads */
	height: 58.125px;
	border: 1px solid;
	float: left;
	margin-right:  .2061855670103093%; /* 2 / 970(remainder width after 1000-30px for 15 right margins)*/
	margin-bottom: 2px;
}
.selected { background-color:rgb(65, 136, 142);}

/* Remove the right margin from the last box / element */
div#boxes div.test:last-child{margin-right: 0px;}

